<mat-card>
  <div class="container" *ngIf="campaign$ | async as campaign">
    <mat-card-content>
      <div class="info">
        <div class="general">
          <h2>{{ campaign.title }}</h2>
          <p class="label">Description:</p>
          <p class="text">{{ campaign.description }}</p>
          <p class="label">Start Date:</p>
          <p class="text">{{ campaign.startDate.toDate() }}</p>
          <p class="label">End Date:</p>
          <p class="text">{{ campaign.endDate.toDate() }}</p>
        </div>
        <div class="personal">
          <h2>Owner details</h2>
          <p class="label">Phone number: {{ campaign.phoneNumber }}</p>
          <p class="label">Region: {{ campaign.region }}</p>
        </div>
      </div>
      <img src="{{ campaign.imageUrl }}" />
    </mat-card-content>
    <mat-card-actions>
      <!-- User can Sign up for campaign if they haven't and if they are not owner -->
      <button
        mat-raised-button
        id="signUpBtn"
        routerLink="../{{ campaign.id }}/sign-up"
      >
        Sign up
      </button>
      <!-- User can Edit and Delete campaign if they are owner -->
      <button
        mat-raised-button
        id="editBtn"
        routerLink="../{{ campaign.id }}/edit"
      >
        Edit
      </button>
      <button
        mat-raised-button
        id="deleteBtn"
        routerLink="../{{ campaign.id }}/delete"
      >
        Delete
      </button>
    </mat-card-actions>
  </div>
</mat-card>
