<mat-card>
  <div class="container" *ngIf="campaign$ | async as campaign">
    <mat-card-content>
      <div class="info">
        <div class="general">
          <h2>{{ campaign.title }}</h2>
          <p class="label">Description:</p>
          <p class="text">{{ campaign.description }}</p>
          <p class="label">Start Date:</p>
          <p class="text">{{ campaign.startDate.toDate() }}</p>
          <p class="label">End Date:</p>
          <p class="text">{{ campaign.endDate.toDate() }}</p>
        </div>
        <div class="personal">
          <h2>Owner details</h2>
          <p class="label">Phone number: {{ campaign.phoneNumber }}</p>
          <p class="label">Region: {{ campaign.region }}</p>
        </div>
      </div>
      <img src="{{ campaign.imageUrl }}" />
    </mat-card-content>
    <mat-card-actions>
      <!-- User can Sign up for campaign if they haven't and if they are not owner -->
      <button mat-raised-button id="signUpBtn" (click)="openDialog(signUpDialog, 'signUp-dialog')">
        Sign up
      </button>
      <!-- User can Edit and Delete campaign if they are owner -->
      <button
        mat-raised-button
        id="editBtn"
        routerLink="../{{ campaign.id }}/edit"
      >
        Edit
      </button>
      <button mat-raised-button id="deleteBtn" (click)="openDialog(deleteDialog, 'delete-dialog')">
        Delete
      </button>
    </mat-card-actions>
  </div>
</mat-card>

<ng-template #deleteDialog>
  <h1 mat-dialog-title>
    Are you sure you want to delete the current campaign?
  </h1>
    <div mat-dialog-actions class="actions">
      <button id="delete" mat-raised-button (click)="delete()">Delete Campaign</button>
      <button mat-raised-button [mat-dialog-close] cdkFocusInitial>Cancel</button>
    </div>
</ng-template>

<ng-template #signUpDialog>
  <h1 mat-dialog-title>
    Are you sure you want to sign up for the current campaign?
  </h1>
    <div mat-dialog-actions class="actions">
      <button id="signUp" mat-raised-button (click)="signUp()">Sign up</button>
      <button mat-raised-button [mat-dialog-close] cdkFocusInitial>Cancel</button>
    </div>
</ng-template>
