<div class="wrapper">
    <div class="wrapper-inner">
        <h3>How can we help you?</h3>
        <h1>Contact us</h1>
        <div id="info">
        <h2>We’re here to help and answer any questions you
            might have. We look forward to hearing from you!</h2>
        <ul>
            <li>
                <mat-icon>location_on</mat-icon>
                <span>Razgrad, Bulgaria</span>
            </li>
            <li>
                <mat-icon>phone</mat-icon>
                <span>+359 99 777 524</span>
            </li>
            <li>
                <mat-icon>mail_outline</mat-icon>
                <span>helping.hands@gmail.com</span>
            </li>
        </ul>
    </div>
    </div>
    <div>
        <img src="../../assets/call-back.png" alt="">
    </div>
</div>