.sidenav-container{
  z-index: 2;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 10vh;
}

.guest-button-container{
  margin-left: 70vw;
}

.auth-button-container{
  margin-left: 65vw;
  overflow: hidden;
}

.auth-button-container-small{
  margin-left: 52vw;
}