<ng-container *ngIf="user$ | async as user">
  <section id="user">
    <div class="user-info">
      <div class="user-logo">
        <img src="../../../assets/profile-pic.png" />
        <p id="initials">{{ user.email.slice(0, 1).toUpperCase() }}</p>
      </div>
      <h1 class="user-email">Email: {{ user.email }}</h1>
    </div>
  </section>
  <section class="profile-campaigns">
    <div class="wrapper wrapper-1">
      <h2 class="section-title">Created Campaigns</h2>
      <div class="created-campaigns">
        <div class="info" *ngFor="let campaign of user.campaigns">
          <h2 class="title">{{ campaign.title }}</h2>
          <h4 class="description">Description: {{ campaign.description }}</h4>
          <button
            mat-raised-button
            routerLink="/campaigns/{{ campaign.id }}"
            class="detailsBtn"
          >
            Details
          </button>
        </div>
      </div>
    </div>

    <!-- If there are no created course
              <h2 class="no-course-in-profile">You haven't created a course yet...</h2>
          -->
    <div class="wrapper wrapper-2">
      <h2 class="section-title">Signed Campaigns</h2>
      <div class="signed-campaigns">
        <div
          class="info"
          *ngFor="let signedUpCampaign of user.signedUpCampaigns"
        >
          <h2 class="title">{{ signedUpCampaign.title }}</h2>
          <h4 class="description">
            Description: {{ signedUpCampaign.description }}
          </h4>
          <button
            mat-raised-button
            routerLink="/campaigns/{{ signedUpCampaign.id }}"
            class="detailsBtn"
          >
            Details
          </button>
        </div>
      </div>
      <!-- If there are no followed course
          <h2 class="no-course-in-profile">You haven't signed up for any course yet...</h2>
          -->
    </div>
  </section>
</ng-container>
