mat-card {
    display: flex;
    align-items: left;
    padding: 18px;
    max-height: 32em;
    max-width: 400px;
    height: 30em;
    border-radius: 20px;
}
mat-card-header{
    line-height: 1.2;
    padding: 0;
    margin: 0;
}

mat-card-title{
    line-height: 1.4;
    margin-bottom: 4px;
}
mat-card-content {
    align-self: left;
    padding: 10px 0;
}

mat-card-actions{
    padding: 0;
}
button {
    background-color: #cfe1fb;/*#91ce8f*/
    border-radius: 5px;
}

img{
    display: block;
    width: 100%;
    height: 250px;

    border-radius: 10px;
}