<!-- <div *ngIf="errorMessage">
  {{ errorMessage }}
</div> -->
<mat-card>
  <mat-card-header>
    <mat-card-title>Create Campaign</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
      <div class="general">
        <h3>Title:</h3>
        <mat-form-field class="longer-input">
          <input matInput [errorStateMatcher]="matcher" formControlName="title"/>
          <mat-error *ngIf="this.createForm.controls.title.hasError('required') && this.createForm.controls.title.touched">
            Title is required
          </mat-error>
          <mat-error *ngIf="this.createForm.controls.title.hasError('invalidTitle') && this.createForm.controls.title.dirty && !this.createForm.controls.title.hasError('required')">
            Title must start with a capital letter
          </mat-error>
          <mat-error *ngIf="!this.createForm.controls.title.hasError('invalidTitle') && this.createForm.controls.title.hasError('minlength') && this.createForm.controls.title.dirty">
            Title must be at least {{this.createForm.controls.title.errors?.['minlength']?.['requiredLength']}} characters
          </mat-error>
          <mat-error *ngIf="!this.createForm.controls.title.hasError('invalidTitle') &&  this.createForm.controls.title.hasError('maxlength') && this.createForm.controls.title.dirty">
            Title must be maximum {{this.createForm.controls.title.errors?.['maxlength']?.['requiredLength']}} characters
          </mat-error>
        </mat-form-field>


        <h3>Image URL:</h3>
        <mat-form-field class="longer-input" >
          <input matInput formControlName="imageUrl" [errorStateMatcher]="matcher"/>
          <mat-error mat-error *ngIf="this.createForm.controls.imageUrl.hasError('required') && this.createForm.controls.imageUrl.touched">
            Image URL is required
          </mat-error>
          <mat-error mat-error *ngIf="this.createForm.controls.imageUrl.hasError('invalidImgUrl') && this.createForm.controls.imageUrl.dirty && !this.createForm.controls.imageUrl.hasError('required')">
            Image URL must be a valid image URL
          </mat-error>
        </mat-form-field>

        <h3>Description:</h3>
        <mat-form-field class="bigger-textarea">
          <textarea [errorStateMatcher]="matcher"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="6"
            placeholder="Describe what help the person needs..."
            class="description"
            matInput
            formControlName="description"
          ></textarea>
          <mat-error *ngIf="this.createForm.controls.description.hasError('required') && this.createForm.controls.description.touched">
            Description is required
          </mat-error>
          <mat-error *ngIf="this.createForm.controls.description.hasError('invalidDescription') && this.createForm.controls.description.dirty && !this.createForm.controls.description.hasError('required')">
            Description must start with a capital letter
          </mat-error>
          <mat-error *ngIf="!this.createForm.controls.description.hasError('invalidDescription') && this.createForm.controls.description.hasError('minlength') && this.createForm.controls.description.dirty">
            Description must be at least {{this.createForm.controls.description.errors?.['minlength']?.['requiredLength']}} characters
          </mat-error>
          <mat-error *ngIf="!this.createForm.controls.description.hasError('invalidDescription') && this.createForm.controls.description.hasError('maxlength') && this.createForm.controls.description.dirty">
            Description must be maximum {{this.createForm.controls.description.errors?.['maxlength']?.['requiredLength']}} characters
          </mat-error>
        </mat-form-field>

        <mat-form-field class="date">
          <mat-label>Choose a start date</mat-label>
          <input matInput [errorStateMatcher]="matcher" [matDatepicker]="pickerStart" formControlName="startDate" [min] = "minStartDate" (dateInput)="startDateEvent($event)" (dateChange)="startDateEvent($event)"/>
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="pickerStart"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerStart></mat-datepicker>
          <mat-error *ngIf="this.createForm.controls.startDate.hasError('required')"> Start date is required</mat-error>
          <mat-error *ngIf="!this.createForm.controls.startDate.hasError('required') && this.createForm.controls.startDate.invalid"> Start date must be a valid date</mat-error>
        </mat-form-field>

        <mat-form-field class="date" >
          <mat-label>Choose an end date</mat-label>
          <input matInput [matDatepicker]="pickerEnd" formControlName="endDate" [min]="minEndDate" [max]="maxEndDate" [errorStateMatcher]="matcher"/>
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="pickerEnd"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerEnd></mat-datepicker>
          <mat-error *ngIf="this.createForm.controls.startDate.hasError('required')"> End date is required</mat-error>
          <mat-error *ngIf="!this.createForm.controls.startDate.hasError('required') && this.createForm.controls.startDate.invalid"> End date must be a valid date</mat-error>
        </mat-form-field>
      </div>

      <div class="wrapper-personal">
        <div class="personal">
          <h3>Contact telephone:</h3>
          <mat-form-field class="longer-input">
            <input matInput formControlName="phoneNumber" [errorStateMatcher]="matcher"/>
            <mat-error *ngIf="this.createForm.controls.phoneNumber.hasError('required')">
              Number is required
            </mat-error>
            <mat-error *ngIf="!this.createForm.controls.phoneNumber.hasError('required') && this.createForm.controls.phoneNumber.errors?.['invalidNumber']">
              Number must start with '08' and be {{this.createForm.controls.phoneNumber.errors?.['invalidNumber'].requiredLength}} digits long
            </mat-error>
          </mat-form-field>

          <mat-form-field id="region">
            <mat-label>Choose region</mat-label>
            <mat-select formControlName="region"  [errorStateMatcher]="matcher">
              <mat-option *ngFor="let region of regions" [value]="region" >
                {{ region }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="this.createForm.controls.region.hasError('required')">
              Region is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="actions">
          <button
            mat-raised-button
            color="primary"
            [disabled]="!this.createForm.valid"
          >
            CREATE
          </button>
        </div>
        <div id="instructions">
          *Campaign's maximum duration is <span>30 days</span> from the start date. You will be able to edit your campaign before these 30 days are up. If a campaign ends,  users <span>won't be able</span> to sign up for it.
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
