<mat-card>
  <mat-card-content>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <h2>Login</h2>
      <mat-form-field>
        <mat-label>Enter email</mat-label>
        <input
         matInput 
         name="email" 
         required 
         ngModel
         appIsEmail
         #email="ngModel"
         />
        <mat-error *ngIf="email.errors?.['required'] && email.touched">Email address is required</mat-error>
        <mat-error *ngIf="email.errors?.['emailNotValid'] && email.dirty">Please provide a valid email address</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Enter password</mat-label>
        <input
          matInput
          type="password"
          name="password"
          required
          appIsPassword
          ngModel
          #password="ngModel"
        />
        <mat-error *ngIf="password.errors?.['required'] && password.touched"> Password is required </mat-error>
        <mat-error *ngIf="password.errors?.['passNotValid'] && password.dirty">Password must be at least 6 characters</mat-error>
      </mat-form-field>
      <div class="error" *ngIf="errorMessage">
        <span>{{errorMessage}}</span>
      </div>
      <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Login</button>
      <!--  -->
    </form>
  </mat-card-content>
</mat-card>
