<div class="header">
  <img src="../../assets/banner.png" />

</div>

<div class="info">
  <hr class="center">
  <div id="believes" class="container">
    <h2>Our believes and values</h2>
    <img src="../../assets/help.png" />
    <p>
      Helping Hands is a community-driven platform dedicated to fostering
      kindness, compassion, and support for the elders in need. At Helping
      Hands, we believe that every individual has the power to make a
      difference, and our platform allows those willing to help to extend a
      hand.
    </p>
  </div>
  <hr class="left">
  <div id="mission" class="container">
    <img src="../../assets/hug.png" />
    <h2>Our mission</h2>
    <p>
      Our mission is simple yet profound: to connect volunteers with
      opportunities to offer voluntary assistance and support to those who need
      help. Whether it's running errands, providing companionship, or offering
      practical assistance with everyday tasks - it all matters. No act of
      kindness is too small, and every gesture of support is valued and
      appreciated.
    </p>
  </div>
  <hr class="right">
  <div id="join" class="container">
    <h2>Why join us?</h2>
    <img src="../../assets/shining.png" />
    <p>
       By joining Helping Hands,
      you become an individual, dedicated to making meaningful impacts in the
      lives of others. Together, we touch hearts and inspire change.
    </p>

    <p>
      <a routerLink="/user/register">Join us</a> on our journey to create a more
      compassionate and connected world. Together, let's extend our helping
      hands to uplift and empower those in need, one gesture of kindness at a
      time.
    </p>
  </div>
  <hr class="left">
</div>
